/* IMPORT ALL EXTERNAL CSS  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --text-color-primary: #ffffff;
  --text-color-secondary: #ffffff80;
  --text-color-pink: #FF039A;
}
body {
  /* background: url(./assets/bg.jpg) no-repeat center center/cover; */
  background: #020219;
  object-fit: cover;
  background-attachment: fixed;
  color: var(--text-color-primary);
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color-primary);
}

.color-pink{
  color: var(--text-color-pink);
}
