@import "../../css-config/mixins.scss";
@import "../../css-config/variables.scss";

.event-card {
  border-radius: 10px;

  color: $text-color-primary;
  padding: 0.6rem 0.5rem;
  background: linear-gradient(
    180deg,
    $dashboard-bg-primary,
    $dashboard-bg-primary,
    $dashboard-bg-third
  );
  z-index: 999;
  display: flex;
  max-width: 100%;
  flex: 1;
  flex-direction: column;
  @include smm {
    max-width: 100%;
  }

  @include sm {
    min-width: 48%;
    max-width: 49%;
  }
  @include md {
    padding: 0.5rem 0.8rem;
    max-width: 33%;
  }
  @include xl {
    max-width: 24%;
    min-width: 23%;
    // border: 2px solid blue;
  }
  &:hover {
    transition-duration: 150ms;
    box-shadow: none;
  }
  .top-box {
    display: flex;
    justify-content: space-between;
    .event-card-box {
      gap: 0.3rem;
      display: flex;
      .event-logo {
        object-fit: cover;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        @include md {
          width: 4rem;
          height: 4rem;
        }
      }
    }
    .btn-view {
      text-decoration: none;
      font-size: $font-size-base;
      font-weight: 500;
      height: 100%;
      cursor: pointer;
      padding: 0.5rem;
      background: transparent ;
      display: flex;
      align-items: center;
      gap: 0.2rem;
      transition: 0.2s;
      position: relative;
      overflow: hidden;
      border-radius: 5px;
      color: $text-color-primary;
      @include md {
        padding: 0.3rem 0.5rem;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        z-index: -1;
        background: linear-gradient(0deg, #6b86d6, #4864c1);
      }
     
      &::after {
        content: "";
        position: absolute;
        top: -150%;
        left: 0;
        background: #fff;
        width: 100%;
        height: 150%;
        border-radius: 0 0 40% 40%;
        transition: 0.3s;
        z-index: -1;
      }
      &:hover::after {
        background: #fff;
        top: 0%;
      }
      &:hover {
        
        color: $dashboard-bg-primary;
      }
    }
    .top-text {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;

      .event-name {
        font-size: calc($font-size-base);
        font-weight: 300;

        @include md {
          font-size: calc($font-size-base + 3px);
        }
      }
      .event-type {
        font-size: calc($font-size-small);
        font-weight: 300;
        color: $text-color-secondary;
        @include md {
          font-size: calc($font-size-base - 3px);
        }
      }
    }
  }

  .event-description {
    margin: 0.3rem 0;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // overflow: hidden;
    // display: block;
    font-size: $font-size-small;
    @include md {
      margin: 0.5rem 0;
      font-size: calc($font-size-base - 2px);
      margin-bottom: 0.7rem;
    }
  }

  .details-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-bottom: 1rem;

    .contact-details-item {
      display: flex;
      justify-content: start;
      align-items: start;
      gap: 0.4rem;
      padding-bottom: 0.2rem;
      @include md {
        gap: 0.5rem;
      }
      i {
        font-size: calc($font-size-base - 2px);
        color: $text-color-secondary;
        @include md {
          font-size: $font-size-base;
        }
      }
      span {
        font-size: calc($font-size-base - 1px);
        color: $text-color-primary;
        opacity: 0.8;
        font-weight: 200;
        @include md {
          opacity: 0.6;
          font-size: calc($font-size-base - 3px);
        }

        .country-code {
          margin-right: 0.4rem;
        }
      }
    }
  }

  .time-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .created-time {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: $text-color-secondary;
      .show-time {
        display: none;
        @include md {
          display: inline-block;
        }
      }
    }
    .view-more {
      border: none;
      background: transparent;
      color: $text-color-primary;
      cursor: pointer;
      i {
        font-size: $font-size-medium;
      }
    }
    .pop-up-model {
      padding: 0.5rem;
      position: absolute;
      background: $text-color-primary;
      color: $dashboard-bg-primary;
      right: -100%;
      bottom: 100%;
      border-radius: 8px;
      display: none;
      justify-content: start;
      flex-direction: column;
      align-items: start;
      gap: 0.1rem;
      overflow: hidden;
      padding-top: 0.7rem;
      padding-right: 1.4rem;
      transition: all 0.3s;
      &.active-event-pop-up {
        display: flex;
        right: 0.5rem;
      }
      .cross-icon {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        i {
          font-size: $font-size-large;
          font-weight: 500;
        }
      }

      .pop-up-item {
        width: 100%;
        border: none;
        background: transparent;
        cursor: pointer;
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 0.5rem;
        font-size: $font-size-small;
        padding: 0.3rem 0.5rem;
        z-index: 100;
        transition: 0.4s;
        border-radius: 4px;
        &:hover {
          background: rgba($color: #000000, $alpha: 0.2);
        }
      }
    }
  }
}
