//color
$text-color-primary: #ffffff;
$text-color-secondary: #ffffff80;
$text-color-pink: #ff039a;

//background color
$background-black: #0f0f0f;
$background-blue: #1f123c;
$background-pink: #ff039a;
$dashboard-bg-primary: #151325;
$dashboard-bg-secondary: #000;
$dashboard-bg-third: #080808;
$dashboard-bg-light: #000000b6;
$dashboard-bg-blue: #003fff;

//font-size
$font-size-small: 14px;
$font-size-base: 18px;
$font-size-medium: 24px;
$font-size-large: 28px;
$font-size-extra-large: 65px;

