PORT=<port number>
MONGO_DB_URI=<mongodb uri>
DB_NAME=<db name>
JWT_SECRET=<jwt secret>
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=http://localhost:5173

## cloudinary
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET

## nodemailer
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
MAX_FILE_SIZE_BYTES=26214400
