@import "../../css-config/mixins.scss";
@import "../../css-config/variables.scss";
.no-event-found {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 0.5rem;
  min-height: 10rem;
  background: linear-gradient(
    180deg,
    $dashboard-bg-primary,
    $dashboard-bg-primary,
    $dashboard-bg-third
  );
  @include md {
    gap: 1rem;
    margin-top: 1rem;
    padding: 1rem;
  }
  .no-event-text {
    font-size: $font-size-base;

    @include md {
      font-size: $font-size-large;
    }
  }

  .no-event-icon-box{
    width: 4rem;
    height: 4rem;
    background-color: $text-color-primary;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include md{
        width: 6rem;
    height: 6rem;
    }
    svg{
        font-size: 2rem;
        color: $dashboard-bg-primary;
        @include md{
            font-size: 4rem;
        }
    }
  }
  .create-event-btn {
    text-decoration: none;
    font-size: $font-size-small;
    font-weight: 500;
    cursor: pointer;
    padding: 0.3rem 1rem;
    background: linear-gradient(0deg, #003fff, #0b31ac);
    border-radius: 5px;
    @include md {
        padding: 0.8rem 3rem;
        font-size: $font-size-base;

    }
  }
}
