@import "../../css-config/mixins.scss";
@import "../../css-config/variables.scss";

.selfie {
  max-width: 100%;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  background: $dashboard-bg-secondary;
  padding: 0.5rem;
  font-family: "Tilt Neon", sans-serif;
  z-index: 1;
  @include lg {
    padding: 1rem 1.5rem;
    min-height: calc(100vh);
  }
  .top-details-main {
    display: flex;
    justify-content: start;
    align-items: start;
    background: $dashboard-bg-primary;
    padding: 0.7rem 0.5rem;
    border-radius: 4px;
    gap: 0.5rem;

    .event-avatar {
      width: 3rem;
      height: 3rem;
      object-fit: cover;
      border-radius: 50%;
      display: none;
      @include md {
        width: 4rem;
        height: 4rem;
        display: inline-block;
      }
    }
    .details-left {
      display: flex;
      align-items: start;
      gap: 0.5rem;
      flex-direction: column;
      width: 100%;

      .top-text-details {
        display: flex;
        justify-content: start;
        gap: 0.3rem;
        justify-content: space-between;
        width: 100%;
        @include md {
          gap: 0.4rem;
        }

        .left-text-details {
          .main-heading {
            font-size: $font-size-base;
            @include md {
              font-size: $font-size-medium;
            }
          }

          .sub-heading {
            font-size: $font-size-small;
            color: $text-color-secondary;
            font-weight: 200;
            margin-left: 0.5rem;
            @include md {
              font-size: $font-size-base;
            }
          }

          .event-description {
            opacity: 0.7;
            font-size: $font-size-small;
            display: none;
            @include md {
              display: inline-block;
            }
          }
        }

        .take-selfie {
          border: none;
          cursor: pointer;
          padding: 0.2rem 0.3rem;
          background: linear-gradient(0deg, #003fff, #0b31ac);
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.3rem;
          flex-wrap: nowrap;
          font-size: calc($font-size-base - 3px);
          color: $text-color-primary;
          @include md {
            padding: 0.3rem 0.9rem;
            font-size: calc($font-size-base + 1px);
            gap: 0.3rem;
          }
          .upload-text {
            text-wrap: nowrap;
          }
        }
      }
      .mobile-desc {
        opacity: 0.7;
        font-size: $font-size-small;
        display: inline-block;
        @include md {
          display: none;
        }
      }
      .address-container {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: 0.3rem;

        @include md {
          gap: 0.5rem;
        }
        .address-box {
          background: $dashboard-bg-secondary;
          padding: 0.3rem 0.5rem;
          border-radius: 5px;
          display: flex;
          gap: 0.3rem;
          align-items: center;
          @include md {
            padding: 0.3rem 0.7rem;
          }
          .country-code {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .event-items {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 0.2rem;
    background: $dashboard-bg-secondary;
    margin-top: 0.5rem;
    @include md {
      gap: 0.5rem;
    }
  }
}
